@import "../../styles.scss";

div {
  font-size: 1.2em;
  text-align: center;
  color: $nav-color;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 0.5rem;
  margin-top: 15px;
}
