@import "../../styles.scss";

.title {
  font-size: 2em;
  text-align: center;
  border-bottom: 1px solid $border-color;
  padding: 0.7rem;

  a {
    color: $title-color;
    text-decoration: none;
  }
}
