.article {
  max-width: 720px;
  margin: 0 auto;

  .image {
    text-align: center;

    img {
      width: 250px;
    }
  }

  .title {
    font-size: 52px;
  }

  .content {
    line-height: 1.5em;
    font-size: 21px;
  }
}
