@import "../../styles.scss";

.navbar {
  font-size: 1.2em;
  text-align: center;
  color: $nav-color;
  border-bottom: 1px solid $border-color;
  padding: 0.5rem;

  .nav-item {
    padding: 10px;
    text-decoration: none;
    color: $nav-color;

    &:hover {
      text-decoration: underline;
    }
  }
}
